@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url("iconic/css/iconmonstr-iconic-font.min.css");

body {
    
    width: 100%;
    /* fonts 
    ------------*/
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

header {
    /* width: inherit; */
    /* min-height: 768px; */
    /* background-image: url("<?php the_field('header_img'); ?>"); */
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    color: #ffffff !important;
}

a {
    text-decoration: none !important;
}

.section-descr {
    color: #424242;
}
/* Navigation
*/

nav {
    height: 118px;
}
.nav-item {
    margin: 0 1.5em;
}
.nav-link {
    color: #ffffff !important;
}

/************ Sandwich ************/

.sandwich {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.sw-topper {
  position: relative;
  top: 0;
  width: 100px;
  height: 10px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
  position: relative;
  width: 100px;
  height: 10px;
  top: 20px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s;
}
.sw-footer {
  position: relative;
  width: 100px;
  height: 10px;
  top: 40px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
  top: 15px;
  transform: rotate(140deg);
}
.sandwich.active .sw-bottom {
  top: 5px;
  transform: rotate(-140deg);
}
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg);
}




button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}
/* ****************************** */



.btn-write {
    height: fit-content;
    padding: 1em 2em;
    font-size: 18px;
    font-weight: bold;
    border: 3px double #ffffff;
    color: #ffffff;
}
.btn-write:hover {
  background-color: #ffffff;
  color: #000000;

}

.btn-next {
    color: #ffffff;
    font-size: 18px;
}
.icon-next {
    font-size: 16px; 
    color: #AF2B2B;
    margin: 0.5em;
}

/* Leader
*/

.photo-leader {
    position: relative;
}
.img-leader {
    max-width: 100%;
    height: auto;
}
.photo-leader-detail {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px 30px;
    display: inline-block;
    background: #ffffff;
    font-size: 18px;
    /* margin-right: 30px; */
}

.leader-description {
    font-size: 18px;
}

/* Timeline - Events
*/
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
  }
  
.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #e9ecef;
  }

.timeline-image-lastchild {
  background-color: #6D6D6D;
  display: inline-block;
  padding: 10px 30px;
  color: #ffffff;
  border-radius: 33px;
}
.timeline-image-lastchild:hover {
  background-color: #6D6D6D;
  display: inline-block;
  padding: 10px 30px;
  color: #000000;
  border-radius: 33px;
  cursor: pointer;
}

.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
  }
  
.timeline > li:after, .timeline > li:before {
    display: table;
    content: ' ';
  }
  
.timeline > li:after {
    clear: both;
  }
  
  .timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  
  .timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  
  .timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  
  .timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #fed136;
  }
  
  .timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
  }
  
  .timeline > li:nth-child(even) > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  
  .timeline > li:nth-child(even) > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  
  .timeline > li:nth-child(even) > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  
  
  .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline .timeline-heading h4.subheading {
    text-transform: none;
  }
  
  .timeline .timeline-body > p {
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    .timeline:before {
      left: 50%;
    }
    .timeline > li:last-child {
      margin-bottom: 50px !important;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }

    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .timeline > li .timeline-image h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
  }
  
  @media (min-width: 992px) {
    .timeline > li {
      min-height: 150px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }
    .timeline > li .timeline-image h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
  }
  
  @media (min-width: 1200px) {
    .timeline > li {
      min-height: 170px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 0 100px;
    }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
    }
    .timeline > li .timeline-image h4 {
      margin-top: 40px;
    }
  }

/* Schedule
*/
.schedule {
    /* width: inherit; */
    height: auto;
    min-height: 768px;
    /* background-image: url("../images/schedule.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.schedule-section-title {
    color: #AF2B2B;
}
.schedule-section-descr, .schedule-change {
    color: #ffffff;
}

table {
    width: 100%;
}
thead tr {
    color: #AF2B2B;
    font-size: 36px;
    height: 100px !important;
}
tbody td {
    color: #ffffff;
    font-size: 48px;
}
th,  td {
    text-align: center !important;
}
tr.dash {
    height: 40px !important;
}

/* Contacts
*/

section.contacts {
    background-color: #F1F1F1;
    max-height: 580px;
}
fieldset {
  width: 40% !important;
}
.icon-count {
  font-size: 14px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 40%;
    background-color: transparent !important;
    border-bottom: 1px solid #6D6D6D !important;
}
input[type="submit"] {
  border: 4px solid #AF2B2B;
  color: #AF2B2B;
  width: 40%;
  padding: 10px 0;
}
input[type="submit"]:hover {
  border: 4px solid #AF2B2B;
  color: #ffffff;
  background-color: #AF2B2B;
  width: 40%;
  padding: 10px 0;
}


/* Footer
*/
footer {
  background-color: #000000;
  color: #ffffff;
}
span.footer-name-title {
  color: #AF2B2B;
}
.icon-copyright {
  font-size: 14px;
}
.copyright-hightlight {
  border-right: 1px solid #ffffff;
}