@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url("iconic/css/iconmonstr-iconic-font.min.css");
@import url("media.css");

body {
    
    width: 100%;
    /* fonts 
    ------------*/
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

header {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    color: #ffffff !important;
}

a {
    text-decoration: none !important;
    transition: all 0.5s ease-in-out;
}
a:hover {
  color: #AF2B2B !important;
}
.section-descr {
    color: #424242;
}
/* Navigation
*/

/* ===================================================================
 * # header styles - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */

 .s-header {
  width: 100%;
  height: 100px;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 500;
}

.s-header.offset {
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.s-header.scrolling {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.s-header.sticky {
  position: fixed;
  top: 0;
  background-color: #000000 !important;
  opacity: 0;
  visibility: hidden;
  z-index: 600;
}

.s-header.sticky .header-logo a {
  margin: 0;
}

.s-header.sticky .header-nav-wrap {
  top: 0;
}

.s-header.sticky.scrolling {
  opacity: 1;
  visibility: visible;
}


/* -------------------------------------------------------------------
* ## header logo - (_site-layout.css) 
* ------------------------------------------------------------------- */

.header-logo {
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 501;
}

.header-logo a {
  display: block;
  margin: 9px 0 0 0;
  padding: 0;
  outline: 0;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* ------------------------------------------------------------------- 
 * ## mobile menu toggle - (_site-layout.css) 
 * ------------------------------------------------------------------- */

 .header-menu-toggle {
  display: none;
  position: absolute;
  right: 29px;
  top: 18px;
  height: 42px;
  width: 42px;
  line-height: 42px;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.header-menu-toggle:hover, .header-menu-toggle:focus {
  color: #FFFFFF;
}

.header-menu-toggle span {
  display: block;
  width: 24px;
  height: 2px;
  margin-top: -1px;
  position: absolute;
  left: 9px;
  top: 50%;
  right: auto;
  bottom: auto;
  background-color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.header-menu-toggle span::before, 
.header-menu-toggle span::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header-menu-toggle span::before {
  top: -9px;
}

.header-menu-toggle span::after {
  bottom: -9px;
}

.s-header.sticky .header-menu-toggle {
  top: 12px;
}

.header-menu-toggle.is-clicked span {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.header-menu-toggle.is-clicked span::before, 
.header-menu-toggle.is-clicked span::after {
  background-color: white;
}

.header-menu-toggle.is-clicked span::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.header-menu-toggle.is-clicked span::after {
  bottom: 0;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

.mobile li {
  height: 4rem !important;
  line-height: 0 !important;
}
/* ------------------------------------------------------------------- 
 * ## navigation - (_site-layout.scss) 
 * ------------------------------------------------------------------- */
 nav {
  width: 100%;
  height: 100px;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 100;
}

.nav-link {
  display: inline;
  color: #ffffff;
  font-size: 1rem;
  padding: 0 !important;
}
 .header-nav-wrap {
  position: absolute;
  width: 100%;
  text-align: end;
}

.header-nav {
  display: inline-block;
  list-style: none;
  margin: 0;
  height: 100px;
  text-align: end;
}

.header-nav li {
  display: inline-block;
  height: 100px;
  padding-left: 0;
  margin-right: 2rem;
}

.header-nav li a {
  display: inline;
  line-height: 100px;
  color: #FFFFFF;
}

.header-nav li.current a {
  color: #af2b2b;
}

/* ===================================================================
 * # home - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */

 .s-home {
  width: 100%;
  height: 100%;
  min-height: 786px;
  background-color: transparent;
  position: relative;
  display: table;
}

/* ------------------------------------------------------------------- 
 * ## home content - (_site-layout.scss) 
 * ------------------------------------------------------------------- */

 .home-content {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  padding-bottom: 37rem;
  position: relative;
}

.home-content_banner {
  color: #FFFFFF;
  font-size: 6rem;
  line-height: 1.35;
  margin-top: 0;
}

.home-content__main {
  padding-right: 3em;
  position: relative;
}

.home-content__buttons {
  position: absolute;
  right: 0;
  padding: 3em;
  text-align: center;
}

.home-content__buttons .btn-write {
  display: block;
  width: auto;
  border: 2px solid white;
  color: #FFFFFF;
  padding: 1em 2em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home-content__buttons .btn-write:hover, 
.home-content__buttons .btn-write:focus {
  background: #FFFFFF !important;
  color: #000000 !important;
  font-weight: bold;
}

.home-content__scroll {
  position: absolute;
  left: 4rem;
  top: 34rem
}

.home-content__scroll a {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #FFFFFF;
  position: relative;
  display: inline-block;
  line-height: 3rem;
}

/* ------------------------------------------------------------------- 
* ## home social - (_site-layout.scss) 
* ------------------------------------------------------------------- */

.home-social {
  list-style: none;
  margin: 0;
  padding-bottom: 10rem;
  position: absolute;
  bottom: 0;
  right: 40px;
  width: 75px
}

.home-social::after {
  display: block;
  content: "";
  height: 10rem;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.08);
  position: absolute;
  bottom: 0;
  right: 1rem;
}

.home-social a {
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home-social li {
  position: relative;
  height: 3.6rem;
  width: auto;
  text-align: center;
}

.home-social i {
  line-height: 3.6rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 1.8rem;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.home-social li:hover {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.home-social li:hover i {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/* button modifiers
 * ------------------------------------------------- */

/* ===================================================================
 * # buttons - (_buttons.scss)
 *
 * ------------------------------------------------------------------- */
button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}


.btn-next {
    color: #ffffff;
    font-size: 18px;
}
.icon-next {
    font-size: 16px; 
    color: #AF2B2B;
    margin: 0.5em;
}

.return-up {
  display: inline-block;
  position: fixed;
  bottom: 100px;
  right: 0;
  background-color: #000000c9;
  z-index: 300;
  height: 44px;
  padding: 10px;
  display: none;
  transition: all .5s ease;
}
.return-up:hover {
  background-color: #000000;
}
.icon-up {
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: all .5s ease;
}
.icon-up:hover {
  color: #AF2B2B;
}


/* Leader
*/
.leader {
  margin-top: 10rem;
}
.photo-leader {
    position: relative;
}
.img-leader {
    max-width: 100%;
    height: auto;
}
.photo-leader-detail {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px 30px;
    display: inline-block;
    background: #ffffff;
    font-size: 18px;
    /* margin-right: 30px; */
}

.leader-description {
    font-size: 1.3rem;
}

/* Groups - Slider
/************************************/
.groups {
  padding: 0 !important;
}
.groups-description p {
  font-size: 1.3rem;
}
.carousel {
  background-color: #F1F1F1;
}
.carousel-block {
  width: 100% !important;
  height: 100%;
  overflow: hidden;
}
.carousel-items {
  animation-duration: .5s !important;
}
.dots-items {
  cursor: pointer;
  font-size: 24px;
  transition: all 0.5s ease-in-out;
}
.active {
  color: #af2b2b;
}
.dots-items:hover {
  color: #af2b2b;
}

/* Timeline - Events
************************/
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
  }
  
.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #e9ecef;
  }

.timeline-image-lastchild {
  background-color: #6D6D6D;
  display: inline-block;
  padding: 10px 30px;
  color: #ffffff;
  border-radius: 33px;
}
.timeline-image-lastchild:hover {
  background-color: #6D6D6D;
  display: inline-block;
  padding: 10px 30px;
  color: #000000;
  border-radius: 33px;
  cursor: pointer;
}

.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
  }
  
.timeline > li:after, .timeline > li:before {
    display: table;
    content: ' ';
  }
  
.timeline > li:after {
    clear: both;
  }
  
  .timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  
  .timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  
  .timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  
  .timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #fed136;
    cursor: pointer;
  }
  
  .timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
  }
  
  .timeline > li:nth-child(even) > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  
  .timeline > li:nth-child(even) > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  
  .timeline > li:nth-child(even) > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  
  
  .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline .timeline-heading h4.subheading {
    text-transform: none;
  }
  
  .timeline .timeline-body > p {
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    .timeline:before {
      left: 50%;
    }
    .timeline > li:last-child {
      margin-bottom: 50px !important;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }

    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .timeline > li .timeline-image h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
  }
  
  @media (min-width: 992px) {
    .timeline > li {
      min-height: 150px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }
    .timeline > li .timeline-image h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
  }
  
  @media (min-width: 1200px) {
    .timeline > li {
      min-height: 170px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 0 100px;
    }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
    }
    .timeline > li .timeline-image h4 {
      margin-top: 40px;
    }
  }

.gallery-item {
  /* display: none; */
}
/* Schedule
**************/
.schedule {
    /* width: inherit; */
    height: auto;
    min-height: 768px;
    /* background-image: url("../images/schedule.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.schedule-section-title {
    color: #AF2B2B;
}
.schedule-section-descr, .schedule-change {
    color: #ffffff;
}
.day {
  color: #AF2B2B;
  /* font-weight: 600; */
}

table {
    width: 100%;
}
thead tr {
    color: #AF2B2B;
    font-size: 36px;
    height: 100px !important;
}
tbody td {
    color: #ffffff;
    font-size: 48px;
}
th,  td {
    text-align: center !important;
}
tr.dash {
    height: 40px !important;
}

/* Contacts
*/

section.contacts {
    background-color: #F1F1F1;
}
fieldset {
  width: 40% !important;
}
.icon-count {
  font-size: 14px !important;
}
.icon-refresh {
  font-size: 20px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 40%;
    background-color: transparent !important;
    border-bottom: 1px solid #6D6D6D !important;
}
input[type="submit"] {
  border: 4px solid #AF2B2B;
  color: #AF2B2B;
  width: 40%;
  padding: 10px 0;
}
input[type="submit"]:hover {
  border: 4px solid #AF2B2B;
  color: #ffffff;
  background-color: #AF2B2B;
  width: 40%;
  padding: 10px 0;
}
.social-contacts {
  font-size: 4rem;
  color: #000000;
}

/* Footer
*/
footer {
  background-color: #000000;
  color: #ffffff;
}
span.footer-name-title {
  color: #AF2B2B;
}
.icon-copyright {
  font-size: 14px;
}
.copyright-hightlight {
  border-right: 1px solid #ffffff;
}